.contact-card {
    height: 500px !important;
    width: 700px;
}


.card-body {
    height: 500px !important;
}


.col-contact {
    height: 70px!important;
}

#form-contact-name, #form-contact-email, #form-contact-phone, #form-contact-company {
    width: 300px !important;
    height: 50px !important;
}

#form-contact-message {
    width: 100% !important;
    height: 50px !important;
}


@media (max-width: 576px) {
    .contact-card {
        height: 500px !important;
        width: 410px !important;
    }
}



@media (min-width: 576px) and (max-width: 768px) {
    .contact-card {
        height: 500px !important;
        width: 500px !important;
    }

}


@media (min-width: 768px) and (max-width: 991px) {
    .contact-text {
        font-size: 1.5rem;
    }
}


@media (min-width: 991px) and (max-width: 1200px) {
    .contact-text {
        font-size: 1.5rem;
    }
}


@media (min-width: 1200px) {
    .contact-text {
        font-size: 1.5rem;
    }
}