.bin-container{
    max-width: 850px;
    margin: auto;
    padding-bottom: 100%;
}


input.input-autoriz {
    height: 32px !important;
    width: 100% !important;
}

.bin-block {
    height: 100%;
    padding-bottom: 100%;
}

.btn-bin {
    width: 210px;
    float: right;
}

.order-item {
    line-height: 1.5rem;
}

.bin-lable {
    font-size: 0.9rem;
}

.order-price {
   font-size: 20px;
   font-weight: normal;
    float: right;
}

.btn-x {
    width: 2rem;
    height: 3rem;
}

i.fas.fa-times {
    transform: translateX(-4);
    font-size: 1.5rem;
}


.input-q {
    width: 2rem !important;
    border-radius: 3px;
    border: 2px solid dimgrey;
}

.input-q::placeholder {
    font-size: 3rem;
}

.btn-close {
   transform: translateX(-48px) !important;
}

.btn-pay {
    width: 300px;
}

h4.modal-title {
    text-align: center !important;
}


.btn-s {
    transform: translateX(110px);
    background-color: rgba(106, 27, 154, 0.08);
    color: white;
    width: 35px !important;
    height: 45px;
}

.btn-x:focus {
    outline: none;
    border: none;
}

.btn-circle {
    background: transparent;
    border: 0px;
}

.btn-circle:focus {
    outline: none;
}




@media (max-width: 576px) {

    .btn-x {
        width: 1.5rem;
        height: 2rem;
    }

}

@media (min-width: 576px) and (max-width: 768px) {

    .btn-x {
        transform: translateX(150px);
        background-color: rgba(106, 27, 154, 0.08);
        color: white;
        width: 35px !important;
        height: 35px;
    }

    .btn-x:focus {
        outline: none;
        border: none;
    }

    .heart-icon {
        width: 65px;
        font-size: 30px;
        color: lightgrey;
    }
}


@media (max-width: 576px) {


    i.fa-search, .bin-img {
        font-size: 20px !important;
        width: 30px !important;
    }

}

@media (min-width: 576px) and (max-width: 768px) {


    i.fa-search, .bin-img {
        font-size: 20px !important;
        width: 30px !important;
    }


}


@media (min-width: 768px) and (max-width: 991px) {


    .heart-icon {
        font-size: 30px;
    }

}

@media (min-width: 991px) and (max-width: 1200px) {

}



