.order-container{
    max-width: 750px;
    margin: auto;
    padding-bottom: 100%;
}

.order-block {
    height: 100%;
    padding-bottom: 100%;
}

/*form.form-input {*/
/*    min-height: 10rem !important;*/
/*}*/

input.input-autoriz {
    height: 32px !important;
    width: 100% !important;
}

.order-btn {
    width: 210px;
    float: right;
}

.btn-order {
    width: 210px !important;
    align-content: center !important;
    margin: 0 auto !important;
    background-color: #38022f !important;
}

.order-item {
    line-height: 1.5rem;
}

.order-label {
    font-size: 0.9rem;
}

.order-price {
    font-size: 20px;
    font-weight: normal;
    float: right;
}

.btn-x {
    width: 2rem;
    height: 3rem;
}

i.fas.fa-times {
    transform: translateX(-4);
    font-size: 1.5rem;
}


.input-q {
    width: 3rem;

}

.input-q::placeholder {
    font-size: 3rem;
}


.order-p {
    max-width: 700px;
}


i.fa, i.fas, i.far {
    padding: 0px 15px 0px 0px
}

input.order  {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

body { margin-top:20px; }
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }


/*components*/

.rccs, .rccs__card, .rccs__card--unknown {
    width: 250px !important;
    height: 150px !important;
}

.panel-title {
    font-size: 1.2rem;
}

input.order {
    height: 31px;
}

select.input-shipment {
    height: 2rem !important;
    padding-top: 3px !important;
}

.shop-filters-block {
    display: inline-flex !important;
}

.shop-items {
    top: 0 !important;
}

.shop-item-name {
    color: #212121;

}

.shop-item-describe {
    font-size: 0.9rem !important;
}

.shop-item-price {
    color: #212121 !important;
}


.scroll {
    height: 250px !important;
}

/*filters*/

.shop-filters {
    width: 260px !important;
}

/*productsDescription*/

.item-img {
    width: 200px;
    height: 250px;
}

.item-present {
    width: 150px;
}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number-input {
    margin-bottom: 3rem;
}
.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    color: white !important;
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    color: white !important;
}
.number-input input[type=number] {
    text-align: center;
}
.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}
.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}
.number-input.number-input button.minus {
    padding-left: 10px;

}
.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: rgba(0, 0, 0, 0.54) !important;
}
.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #feebff;
}

.item-btn-Like {
    color: #aa66cc !important;
    outline: none !important;
    text-decoration: none;
    border-radius: 4px;
}


.item-quantity {
    width: 150px;
    height: 37px;
    border-radius: 2px solid #aa66cc !important;
    border: 1px solid #aa66cc !important;
}

.item-large, .item-to-cart {
    width: 160px;
}

.minus, .plus, .quantity {
    width: 33% !important;
    height: 2rem !important;
    padding: 0.5rem !important;
    color: white !important;
    border-right: 1px solid #aa66cc !important;
}

.plus {
    border-right: 0px solid #aa66cc !important;
}

.minus, .plus {
    background-color: white !important;
}

.item-large-block {
    border: 1px solid #aa66cc !important;
    width: 95%;
}

.item-to-cart {
    border-radius: 3px !important;
    height: 38px !important;
    background-color: #aa66cc !important;
}

.item-pills {
    background-color: #aa66cc !important;
}

.prod-btn-like {
    background-color: #e8d2d8;
    border: 0px !important;
    border-radius: 3px;
    width: 50px;
    height: 40px;
}

.item-btn-buy {
    border: 0px !important;
    border-radius: 3px;
    background-color: #aa66cc !important;
    width: 153px;
    height: 41px;
    text-decoration: none;
    outline: none;
}

.item-payment-img {
    width: 85px;
    height: 45px;
}

.panel-name {
    font-size: 32px !important;
}

.private-policy {
    font-size: 12px;
}


@media (max-width: 576px) {
    .container {
        max-width: 550px !important;
    }

    .custom-control label {
        font-size: 1rem !important;
    }

    .input-shipment {
        width: 15rem;
    }

    .link-privacy {
        width: 100px;
    }

    .btn-block {
        width: 110px !important;
    }

    .panel-item {
        min-width: 370px !important;
    }

    .ccv-code {
        width: 90px !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 750px !important;
    }

    .panel-item {
        min-width: 370px !important;
    }

    .ccv-code {
        width: 90px !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
     .container {
         max-width: 768px;
     }
}






