.about-shop-content {
    height: 50% !important;
}

@media (max-width: 576px) {

}

@media (min-width: 576px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 991px) and (max-width: 1200px) {

}


@media (min-width: 1200px) {

}




