     div {
        div.container {
          div {
            button{
              transform: translateX(50) !important;
              background-color: #a74eb6;
            }


            div {
              .col {
                div {

                }
              }
              .col {
                div {
                  h3 {
                    line-height: 35px !important;
                  }
                }
              }

            }
          }
        }
        div {
            div {
              div.menu-details {
                background-color: #a74eb6 !important;
                ul{
                  li.nav-item {
                    a.link-details {
                    }
                  }
                }
              }
            }
          }
  }